*{
    box-sizing: border-box;
}

body{
    background-color: rgb(120, 172, 172);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.empty{
    height: 150px;
    width: 150px;
    background-color: azure;
    margin: 10px;
    border: 2px solid wheat;
}
.fill{
    background-image: url(img/nora-long-iGrEd0Wzvtw-unsplash.jpg);
    height: 145px;
    width: 145px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.hold{
    border: solid 5px #ccc;
}
.hovered11{
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }